CSS
* {
    max-width: 100%;
    font-family: sans-serif;
}

.body-container-signup {
    background-image: url("https://images.unsplash.com/photo-1622405538251-e8c48fdc40db?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80%22");
    background-size: cover;
}

.body-container-signin {
    background-image: url("https://images.unsplash.com/photo-1621193596485-90a3c38023f5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80%22");
    background-size: cover;
    background-position: center;
}

.body-container-products {
    background-image: url("../public/img/bg-cart.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

.body-container-profile {
    background-image: url("https://images.unsplash.com/photo-1541701571234-ffe036ddf1d2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=726&q=80%22");
    background-size: contain;
}

::marker {
    color: transparent;
}

/* NAVBAR */
.navbar {
    background-color: rgb(26, 26, 26);
    opacity: 1;
    display: flex;
    min-height: 9rem;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: aquamarine;
    padding: 0 2em 0 2em;
}

.navbar-nav p {
    text-decoration: none !important;
    transition: 0.5s;
}

.nav-item p:hover {
    text-shadow: 0 0 5px #FF2D95, 0 0 10px #FF2D95, 0 0 15px #FF2D95, 0 0 20px #FF2D95, 0 0 30px #FF2D95, 0 0 35px #FF2D95;

}

.logo-header {
    width: 8rem;
    height: 8rem;
}

.user-logo-container {
    gap: 2rem;
    margin: 1rem;
}

.user-logo {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    transition: all 0.5s;
}

.user-logo:hover {
    box-shadow: 0 0 20px 5px #ffffff, 0 0 10px 2px #ff00ff;
}

.cart-logo {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-top: 1.4rem;
    transition: all 0.5s;
}

.cart-logo:hover {
    box-shadow: 0 0 20px 5px #ffffff, 0 0 10px 2px #ff00ff;
}

/* HOME */
.home-main-container h2 {
    text-shadow: 0 0 5px #24b6f4, 0 0 10px #58CDFF, 0 0 15px #58CDFF, 0 0 20px #58CDFF, 0 0 25px #58CDFF, 0 0 30px #58CDFF, 0 0 35px #58CDFF;
    display: flex;
    justify-content: center;
}

.text-video {
    width: 40%;
    position: absolute;
    top: 40%;
    left: 6%;
    font-size: 1.5em;
}

.section2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
    text-shadow: 0 0 5px #FF2D95, 0 0 10px #FF2D95, 0 0 15px #FF2D95, 0 0 20px #FF2D95, 0 0 25px #FF2D95, 0 0 30px #FF2D95, 0 0 35px #FF2D95;
}

.img-category-1 {
    width: 20rem;
    height: 60vh;
    background-image: url("https://images.unsplash.com/photo-1530745342582-0795f23ec976?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80%22");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2em;
    border-radius: 10px;
}

.img-category-1:hover,
.img-category-2:hover,
.img-category-3:hover,
.img-category-4:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

.img-category-2 {
    width: 20rem;
    height: 60vh;
    background-image: url("https://images.unsplash.com/photo-1618588488736-c9419743dd12?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80%22");
    background-size: cover;
    background-position: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2em;
    border-radius: 10px;
}

.img-category-3 {
    width: 20rem;
    height: 60vh;
    background-image: url("https://images.unsplash.com/photo-1624981368944-e8fb7899cc3f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80%22");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2em;
    border-radius: 10px;
}

.img-category-4 {
    width: 20rem;
    height: 60vh;
    background-image: url("https://i.ytimg.com/vi/BzDi8kU5p3A/maxresdefault.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2em;
    border-radius: 10px;
}

.navbar-toggler-icon {
    color: blueviolet;
}

.btnhm {
    color: red;
}

.video {
    color: white;
}

.videoHome {
    width: 100%;
    height: 25rem;
    object-fit: cover;
}


.categories-text {
    margin: 3rem;
    display: flex;

}

.aboutus-container {
    margin: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    color: white;
}

.text-container {
    text-align: center;
    max-width: 40%;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-container p{
    text-align: center;
}

.text-container h2 {
    text-align: center;
    max-width: 40%;
    text-shadow: 0 0 5px #24b6f4, 0 0 10px #58CDFF, 0 0 15px #58CDFF, 0 0 20px #58CDFF, 0 0 25px #58CDFF, 0 0 30px #58CDFF, 0 0 35px #58CDFF;
}

.main-img {
    height: 40rem;
    width: 30rem;
    object-fit: cover;
    border-radius: 50px;

}

.text-lx {
    text-align: start;
    margin-top: 2rem;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    color: white;
    gap: 1rem;
}

.footer h3 {
    text-shadow: 0 0 5px #24b6f4, 0 0 10px #58CDFF, 0 0 15px #58CDFF, 0 0 20px #58CDFF, 0 0 25px #58CDFF, 0 0 30px #58CDFF, 0 0 35px #58CDFF;
    display: flex;
    justify-content: center;
}

.logo-footer-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}

.logo-footer-container h4 {
    text-shadow: 0 0 5px #24b6f4, 0 0 10px #58CDFF, 0 0 15px #58CDFF, 0 0 20px #58CDFF, 0 0 25px #58CDFF, 0 0 30px #58CDFF, 0 0 35px #58CDFF;
}

.logo-footer {
    width: 12rem;
    margin-top: 2rem;
}

.socialmedia-container {
    display: flex;
    width: 8rem;
    gap: 1rem;
}

.img-icon {
    width: 2rem;
    height: 2rem;
}

.text-location {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1rem;
}

.payment-container {
    width: 20rem;
}

.map-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: .5rem;
}

.map-img {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
}


.div-icon {
    display: flex;
    gap: 10px;
}

.pt {
    margin-top: 0.5rem;
}

.footer-warning {
    text-align: center;
    color: white;
    background-color: #121212;
    padding: 1em 0 .1em 0;
}

.footer-container2 {
    text-align: center;
}

.socialmedia-container img{
    width: 2em;
}