* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.body-container-signup {
    background-image: url("https://images.unsplash.com/photo-1622405538251-e8c48fdc40db?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-size: contain;
}

.body-container-signin {
    background-image: url("https://images.unsplash.com/photo-1621193596485-90a3c38023f5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-size: contain;
}

.body-container-products {
    background-image: url("https://img.freepik.com/free-photo/abstract-wallpaper-background-design-dark-design_53876-146674.jpg?w=740&t=st=1671084874~exp=1671085474~hmac=9a28d591c0cc3cdea1a71ddd8c669721691e04d2117717d97d7a0977163f3671");
    background-size: cover;
    background-position: center;
}

.body-container-profile {
    background-image: url("https://images.unsplash.com/photo-1541701571234-ffe036ddf1d2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=726&q=80");
    background-size: contain;
}

nav {
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding-left: 1em;
    background-color: #111111;
}

.navbar a {
    font-size: 1.3em;
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

.nav-div-container {
    /*  text-shadow: #58CDFF 0px 0px 5px, #58CDFF 0px 0px 10px, #58CDFF 0px 0px 15px, #58CDFF 0px 0px 20px, #58CDFF 0px 0px 30px, #58CDFF 0px 0px 40px, #58CDFF 0px 0px 50px, #58CDFF 0px 0px 75px, 2px 2px 2px #58CDFFf5; */
    /* text-shadow: 0 0 5px #24b6f4, 0 0 10px #58CDFF, 0 0 15px #58CDFF, 0 0 20px #58CDFF, 0 0 25px #58CDFF, 0 0 30px #58CDFF, 0 0 35px #58CDFF; */
}

.nav-div-container p:hover {
    /* text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px, 2px 2px 2px rgba(255, 255, 255, 0.959); */
    text-shadow: 0 0 5px #FF2D95, 0 0 10px #FF2D95, 0 0 15px #FF2D95, 0 0 20px #FF2D95, 0 0 25px #FF2D95, 0 0 30px #FF2D95, 0 0 35px #FF2D95;
}

.logo-header {
    width: 18%;
}

.user-logo {
    width: 30%;
    border-radius: 50%;
    transition: all 0.5s;
}

.user-logo:hover {
    box-shadow: 0 0 20px 5px #ffffff, 0 0 10px 2px #ff00ff;
}

.cart-logo {
    width: 3.5%;
    border-radius: 50%;
    position: fixed;
    right: 2em;
    margin-top: .9em;
    transition: all 0.5s;
}

.cart-logo:hover {
    box-shadow: 0 0 20px 5px #ffffff, 0 0 10px 2px #ff00ff;
}

.user-logo-container {
    margin-right: 1.5em;
    width: 10%;
}

.navbar-toggler {
    background-color: #58CDFF;
}

.videoHome {
    width: 100%;
    height: 25em;
    object-fit: cover;
}

.main-img {
    width: 70%;
    border-radius: 5%;
}

.text-container h2 {
    text-shadow: 0 0 5px #24b6f4, 0 0 10px #58CDFF, 0 0 15px #58CDFF, 0 0 20px #58CDFF, 0 0 25px #58CDFF, 0 0 30px #58CDFF, 0 0 35px #58CDFF;
}

.text-container h2:hover {
    text-shadow: 0 0 5px #FF2D95, 0 0 10px #FF2D95, 0 0 15px #FF2D95, 0 0 20px #FF2D95, 0 0 25px #FF2D95, 0 0 30px #FF2D95, 0 0 35px #FF2D95;
}

.text-container {
    flex-direction: column;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.text-container p {
    text-align: center;
}

.aboutus-container {
    display: flex;
    gap: 3em;
    margin-left: 9em;
    margin-top: 3em;
}

.img-container {
    width: 50%;
}

.images-section {
    display: flex;
    justify-content: center;
    margin-top: 4em;
    gap: 2em;
    text-shadow: 0 0 5px #FF2D95, 0 0 10px #FF2D95, 0 0 15px #FF2D95, 0 0 20px #FF2D95, 0 0 25px #FF2D95, 0 0 30px #FF2D95, 0 0 35px #FF2D95;
}

.img-category-1 {
    width: 20%;
    height: 60vh;
    background-image: url("https://images.unsplash.com/photo-1530745342582-0795f23ec976?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2em;
}

.img-category-1:hover,
.img-category-2:hover,
.img-category-3:hover,
.img-category-4:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

.img-category-2 {
    width: 20%;
    background-image: url("https://images.unsplash.com/photo-1618588488736-c9419743dd12?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-size: cover;
    background-position: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2em;
}

.img-category-3 {
    width: 20%;
    background-image: url("https://images.unsplash.com/photo-1624981368944-e8fb7899cc3f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2em;
}

.img-category-4 {
    width: 20%;
    background-image: url("https://i.ytimg.com/vi/BzDi8kU5p3A/maxresdefault.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2em;
}

.categories-text {
    text-shadow: 0 0 5px #24b6f4, 0 0 10px #58CDFF, 0 0 15px #58CDFF, 0 0 20px #58CDFF, 0 0 25px #58CDFF, 0 0 30px #58CDFF, 0 0 35px #58CDFF;
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.categories-text:hover {
    text-shadow: 0 0 5px #FF2D95, 0 0 10px #FF2D95, 0 0 15px #FF2D95, 0 0 20px #FF2D95, 0 0 25px #FF2D95, 0 0 30px #FF2D95, 0 0 35px #FF2D95;
}

.text-video {
    color: white;
    width: 30%;
    position: absolute;
    top: 40%;
    left: 6%;
    font-size: 1.5em;

}

.footer-container {
    background-color: #141414;
    color: #ffffff;
    margin-top: 3em;
    flex-grow: 1;

}

.footer-container h3,
h5 {
    text-shadow: 0 0 5px #24b6f4, 0 0 10px #58CDFF, 0 0 15px #58CDFF, 0 0 20px #58CDFF, 0 0 25px #58CDFF, 0 0 30px #58CDFF, 0 0 35px #58CDFF;
}

.redes-img {
    width: 2em;
}

.logo-footer {
    width: 12em;
}

.logo-footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: 30%;
}

.footer-container2 {
    background-color: #000000;
}

.map-img {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    border-radius: 1em;
}

.map-text img {
    width: 1.4em;
}

.map-text a {
    text-decoration: none;
    color: #ffffff;
}

.map-text h3 {
    margin-bottom: 1em;
    font-weight: bold;
}

.map-text {
    line-height: 1em;
    width: 35%;
    gap:.3em;
}

.footer-warning {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
    background-color: #222222;
}

.header-container h1 {
    display: flex;
    justify-content: center;
}


/* SIGN IN STYLES */
.card {
    width: 30%;
    height: auto;
    background-image: linear-gradient(163deg, #FF26A9 0%, #58CDFF 100%);
    border-radius: 20px;
    transition: all .3s;
    margin-top: 2em;

}

.card2 {
    width: 100%;
    height: auto;
    background-color: #1a1a1a;
    border-radius: 20px;
    transition: all .2s;
}

.card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
}

.card:hover {
    box-shadow: 0px 0px 30px 1px #58CDFF;
}

.card3 {
    margin: 2em;
    display: flex;
    flex-direction: column;

}

.card3 h3 {
    display: flex;
    justify-content: center;
    font-size: 2em;
    text-shadow: 0 0 5px #FF2D95, 0 0 10px #FF2D95, 0 0 15px #FF2D95, 0 0 20px #FF2D95, 0 0 25px #FF2D95, 0 0 30px #FF2D95, 0 0 35px #FF2D95;
    font-weight: bold;
}

/*Inputs*/
.field {
    margin-top: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
    background-color: #1c1c20;
    border-radius: 4px;
    padding: .5em 1em;
}

.input-icon {
    height: 1em;
    width: 1em;
    fill: #FF26A9;
}

.input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #ffffff;
}

/*Text*/
.title {
    margin-bottom: 1rem;
    font-size: 1.5em;
    font-weight: 500;
    color: #f5f5f5;
}

/*Buttons*/
.btn {
    border: none;
    border-radius: 4px;
    font-weight: bold;
    font-size: .8em;
    text-transform: uppercase;
    padding: 0.6em 1.2em;
    background-color: #ff3bb1;
    color: #ffffff;
    box-shadow: 0 8px 24px 0 rgba(255, 255, 255, 0.2);
    transition: all .3s ease-in-out;
}

.btn-link {
    color: #f5f5f5;
    display: block;
    font-size: .75em;
    transition: color .3s ease-out;
    text-decoration: none;
}

/*Hover & focus*/
.field input:focus::placeholder {
    opacity: 0;
    transition: opacity .3s;
}

.btn:hover {
    background-color: #58CDFF;
    color: #ffffff;
    box-shadow: 0 8px 24px 0 #10277033;
}

.btn-link:hover {
    color: #FF26A9;
}

/* CARDS STYLES */
.filter-products-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

.product-card {
    width: 20%;
    height: 75vh;
    background: #000000;
    position: relative;
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
}

.card-img-top {
    width: 95%;
    height: 30vh;
    object-fit: contain;
}

.card-body {
    width: 80%;
    height: auto;
    border-radius: 0 0 1em 1em;
}

.filters-container {
    background-color: #000000d7;
    width: 20%;
    height: 100vh;
    margin-right: 1em;
}

.product-card img,
h5,
p,
button,
div {
    z-index: 1;
}

.product-card::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 150%;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
}

.product-card:hover::before {
    background-image: linear-gradient(180deg, #00b7ff, #ff30ff);
}


@keyframes rotBGimg {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.product-card::after {
    content: '';
    position: absolute;
    background: #000000;
    inset: 5px;
    border-radius: 15px;
}


/* MYPROFILE */

.profile-card {
    background-color: #131313ea;
    width: 60%;
    border-radius: 1em;
    display: flex;
    gap: 1em;
    padding: 4em 2em 4em 2em;
    transition: all .7s;
    height: auto;
}

.profile-card:hover {
    box-shadow: 0px 0px 30px 1px #58CDFF;
}

.profile-img-container {
    width: 30%;
    height: 30vh;
}

.profile-img {
    width: 80%;
    height: 30vh;
    border-radius: 50%;
    box-shadow: 0 0 20px 5px #00ffff, 0 0 10px 2px #ff00ff;
}

.edit-img {
    width: 1em;
    height: 1em;
}

.name-container {
    text-shadow: 0 0 20px #FFFFFF;
    filter: brightness(1.5) contrast(1.5);
}

.input-cart {
    width: 30%;
    height: 6vh;
    background-color: #e77ecd;
    border-radius: .5em;
    color: white;
}

.input-cart:hover {
    box-shadow: 0 0 15px 3px #ffffff, 0 0 8px 1px #ff00ff;
}

.price-container {
    width: 100%;
    justify-content: space-around;
}

.price-container p {
    font-size: 1.5em;
    color: white;
    text-shadow: 0 0 20px #FFFFFF;
}

.card-title {
    color: white;
    text-shadow: #58CDFF 0px 0px 5px, #58CDFF 0px 0px 10px, #58CDFF 0px 0px 15px, #58CDFF 0px 0px 20px, #58CDFF 0px 0px 30px, #58CDFF 0px 0px 40px, #58CDFF 0px 0px 50px, #58CDFF 0px 0px 75px, 2px 2px 2px #58CDFFf5;
    text-align: center;
}

.payment-container {
    width: 90% !important;
    padding-top: 1em;
}

.dropdown-item:hover{
    background-color: black;
}