.containerprofile {
    min-height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../public/img/bg-profile.jpg");
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
}

.profile-card {
    width: 55rem;
    height: 27rem;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 1.5rem;
    border-radius: 30px;
    gap: 3rem;
    padding: 4rem;
    transition: all .2s;
}

.profile-card:hover {
    transform: scale(0.98);
    border-radius: 20px;
    box-shadow: 0px 0px 50px 1px #ffffff;
}

.name-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.name-container h1{
    text-shadow: 0 0 30px #58CDFF, 0 0 35px #58CDFF;
    font-size: 3rem;
}

.profile-im {
    width: 250px;
    height: 300px;
    object-fit: cover;
    border-radius: 2rem 0 2rem 0;
}

.edit-img {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
}

.user-logo {
    object-fit: cover;
}

.btn {
    color: white;
    background-color: #FF2D95;
    box-shadow: 0 8px 24px 0 rgba(255, 255, 255, 0.2);
    transition: all .3s ease-in-out;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1rem;
}

.btn:hover {
    background-color: #58CDFF;
    color: #ffffff;
    box-shadow: 0 8px 24px 0 #10277033;
    transition: all 0.3s;
}

.name-container img{
    width: 2rem;
}

.container-info div{
    display: flex;
    gap: 8rem
}