.body-container-signin{
display: flex;
align-items: center;
justify-content: center;
min-height: 80vh;
}
.card{
    width: 33rem;
    height: 30rem;
    text-align: center;
    border-radius: 30px;
    padding: 1rem;
    background-color: black;
    margin:1rem;

}

.field {
    margin-top: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
    background-color: #1c1c20;
    border-radius: 4px;
    padding: .5em 1em;
}

.input-icon {
    height: 1.2em;
    width: 1.2em;
    fill:rgb(255 6 182);
    object-fit: cover;
}

.input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #ffffff;
}


.body-container-signup{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    }

    .cardin {
        width: 33rem;
        height: 20rem;
        text-align: center;
        border-radius: 30px;
        padding: 1rem;
        background-color: black;
        margin: 1rem;
    }
    .btn{
        color: white;
        background-color:rgba(255,38,170,254)
    }